.header-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  max-width: 1200px;
  margin: auto;
  width: 100%;
  margin-top: 10px;
}

.logo-img {
  width: 200px;
  height: 60px;
  margin-top: 8px;
}

.btn-premium {
  background-color: #00a2f7;
  width: 156px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: "Arial";
  transition: all 0.3s ease;
}

.btn-premium:hover {
  background-color: #0895d1;
}